.idea
.vscode
.DS_Store
.env
go.work.sum
*logs
/ent/*.go
/ent/enttest/       # 忽略测试相关生成代码
/ent/internal/      # 忽略内部生成代码
/ent/migrate/       # 忽略迁移相关生成代码
/ent/runtime/       # 忽略运行时生成代码
!/ent/schema/       # 保留 schema 目录
!/ent/generate.go   # 保留生成配置
